In [100]:
import pandas as pd
import numpy as np

In [101]:
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.width', 200)
pd.set_option('display.max_columns', None)

In [102]:
data = pd.read_csv('C:\\Users\\Saqib\\Documents\\Football_Dataset\\Football_Dataset.csv', delimiter = ',')
data.head(10)

   Incremental_ID Div       Date Time       HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR        Referee  HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0               1  E0  8/13/2005  NaN    Aston Villa      Bolton     2     2   D     2     2   D        M Riley   3  13    2    6  14  16   7   8   0   2   0   0
1               2  E0  8/13/2005  NaN        Everton  Man United     0     2   A     0     1   A         G Poll  10  12    5    5  15  14   8   6   3   1   0   0
2               3  E0  8/13/2005  NaN         Fulham  Birmingham     0     0   D     0     0   D       R Styles  15   7    7    4  12  13   6   6   1   2   0   0
3               4  E0  8/13/2005  NaN       Man City   West Brom     0     0   D     0     0   D          C Foy  15  13    8    3  13  11   3   6   2   3   0   0
4               5  E0  8/13/2005  NaN  Middlesbrough   Liverpool     0     0   D     0     0   D       M Halsey   4  16    2    7  17  11   5   0   2   3   1   0
5               6  E0  8/13/2005  NaN     Portsmouth   Tottenham     0     2   A     0     1   A       B Knight  11  11    7    6  13  23   7   2   0   2   0   0
6               7  E0  8/13/2005  NaN     Sunderland    Charlton     1     3   A     1     1   D         H Webb  12  14    8    4  15  17   5   5   2   0   0   1
7               8  E0  8/13/2005  NaN       West Ham   Blackburn     3     1   H     0     1   A        A Wiley  13  11    5    5  11  14   2   6   0   1   0   1
8               9  E0  8/14/2005  NaN        Arsenal   Newcastle     2     0   H     0     0   D      S Bennett  15   2   12    1  15  17   8   3   0   1   0   1
9              10  E0  8/14/2005  NaN          Wigan     Chelsea     0     1   A     0     0   D  M Clattenburg  12  20    5    9  14   7   2   6   1   0   0   0

Here, a copy of the dataset has been created, so that changes made are not made to the actual database.

In [103]:
football_data = data.copy()
football_data.head()

   Incremental_ID Div       Date Time       HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR   Referee  HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0               1  E0  8/13/2005  NaN    Aston Villa      Bolton     2     2   D     2     2   D   M Riley   3  13    2    6  14  16   7   8   0   2   0   0
1               2  E0  8/13/2005  NaN        Everton  Man United     0     2   A     0     1   A    G Poll  10  12    5    5  15  14   8   6   3   1   0   0
2               3  E0  8/13/2005  NaN         Fulham  Birmingham     0     0   D     0     0   D  R Styles  15   7    7    4  12  13   6   6   1   2   0   0
3               4  E0  8/13/2005  NaN       Man City   West Brom     0     0   D     0     0   D     C Foy  15  13    8    3  13  11   3   6   2   3   0   0
4               5  E0  8/13/2005  NaN  Middlesbrough   Liverpool     0     0   D     0     0   D  M Halsey   4  16    2    7  17  11   5   0   2   3   1   0

The 'Time' column is removed, as the information is incompleted and doesn't help assess Teams performance. Also, the 'Div' column doesn't contain meaningful information.

In [104]:
football_data = football_data.drop("Time", axis = 1)
football_data = football_data.drop("Div", axis = 1)
football_data.head()

   Incremental_ID       Date       HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR   Referee  HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0               1  8/13/2005    Aston Villa      Bolton     2     2   D     2     2   D   M Riley   3  13    2    6  14  16   7   8   0   2   0   0
1               2  8/13/2005        Everton  Man United     0     2   A     0     1   A    G Poll  10  12    5    5  15  14   8   6   3   1   0   0
2               3  8/13/2005         Fulham  Birmingham     0     0   D     0     0   D  R Styles  15   7    7    4  12  13   6   6   1   2   0   0
3               4  8/13/2005       Man City   West Brom     0     0   D     0     0   D     C Foy  15  13    8    3  13  11   3   6   2   3   0   0
4               5  8/13/2005  Middlesbrough   Liverpool     0     0   D     0     0   D  M Halsey   4  16    2    7  17  11   5   0   2   3   1   0

Home Team Total Home Goals for the Last 5, 15, and 38 Matches

In [105]:
football_data['FTHG_L5'] = football_data.groupby('HomeTeam')['FTHG'].transform(lambda x: x.rolling(window = 5).sum())

In [106]:
football_data['FTHG_L15'] = football_data.groupby('HomeTeam')['FTHG'].transform(lambda x: x.rolling(window = 15).sum())

In [107]:
football_data['FTHG_L38'] = football_data.groupby('HomeTeam')['FTHG'].transform(lambda x: x.rolling(window = 38).sum())

Away Team Total Away Goals for the Last 5, 15, and 38 Matches

In [108]:
football_data['FTAG_L5'] = football_data.groupby('AwayTeam')['FTAG'].transform(lambda x: x.rolling(window = 5).sum())

In [109]:
football_data['FTAG_L15'] = football_data.groupby('AwayTeam')['FTAG'].transform(lambda x: x.rolling(window = 15).sum())

In [110]:
football_data['FTAG_L38'] = football_data.groupby('AwayTeam')['FTAG'].transform(lambda x: x.rolling(window = 38).sum())

We are not focusing on the 'Referee' column while calculating the last match performances of Home and Away Teams, so it will be dropped.

In [111]:
football_data.drop('Referee', axis = 1, inplace = True)

Home Shots Calculation for Last 5, 15, and 38 Matches

In [112]:
football_data['HS_L5'] = football_data.groupby('HomeTeam')['HS'].transform(lambda x: x.rolling(window = 5).sum())

In [113]:
football_data['HS_L15'] = football_data.groupby('HomeTeam')['HS'].transform(lambda x: x.rolling(window = 15).sum())

In [114]:
football_data['HS_L38'] = football_data.groupby('HomeTeam')['HS'].transform(lambda x: x.rolling(window = 38).sum())

Away Shots Calculation for Last 5, 15, and 38 Matches

In [115]:
football_data['AS_L5'] = football_data.groupby('AwayTeam')['AS'].transform(lambda x: x.rolling(window = 5).sum())

In [116]:
football_data['AS_L15'] = football_data.groupby('AwayTeam')['AS'].transform(lambda x: x.rolling(window = 15).sum())

In [117]:
football_data['AS_L38'] = football_data.groupby('AwayTeam')['AS'].transform(lambda x: x.rolling(window = 38).sum())

Home Shots at Target for the Last 5, 15, and 38 Matches

In [118]:
football_data['HST_L5'] = football_data.groupby('HomeTeam')['HST'].transform(lambda x: x.rolling(window = 5).sum())

In [119]:
football_data['HST_L15'] = football_data.groupby('HomeTeam')['HST'].transform(lambda x: x.rolling(window = 15).sum())

In [120]:
football_data['HST_L38'] = football_data.groupby('HomeTeam')['HST'].transform(lambda x: x.rolling(window = 38).sum())

Away Shots at Target for the Last 5, 15, and 38 Matches

In [121]:
football_data['AST_L5'] = football_data.groupby('AwayTeam')['AST'].transform(lambda x: x.rolling(window = 5).sum())

In [122]:
football_data['AST_L15'] = football_data.groupby('AwayTeam')['AST'].transform(lambda x: x.rolling(window = 15).sum())

In [123]:
football_data['AST_L38'] = football_data.groupby('AwayTeam')['AST'].transform(lambda x: x.rolling(window = 38).sum())

Foul Statistics

Home Team Fouls for Last 5, 15, and 38 Matches

In [124]:
football_data['HF_L5'] = football_data.groupby('HomeTeam')['HF'].transform(lambda x: x.rolling(window = 5).sum())

In [125]:
football_data['HF_L15'] = football_data.groupby('HomeTeam')['HF'].transform(lambda x: x.rolling(window = 15).sum())

In [126]:
football_data['HF_L38'] = football_data.groupby('HomeTeam')['HF'].transform(lambda x: x.rolling(window = 38).sum())

Away Team Fouls for Last 5, 15, and 38 Matches

In [127]:
football_data['AF_L5'] = football_data.groupby('AwayTeam')['AF'].transform(lambda x: x.rolling(window = 5).sum())

In [128]:
football_data['AF_L15'] = football_data.groupby('AwayTeam')['AF'].transform(lambda x: x.rolling(window = 15).sum())

In [129]:
football_data['AF_L38'] = football_data.groupby('AwayTeam')['AF'].transform(lambda x: x.rolling(window = 38).sum())

Corner Statistics

Home Team Corners for the Last 5, 15, and 38 Matches

In [130]:
football_data['HC_L5'] = football_data.groupby('HomeTeam')['HC'].transform(lambda x: x.rolling(window = 5).sum())

In [131]:
football_data['HC_L15'] = football_data.groupby('HomeTeam')['HC'].transform(lambda x: x.rolling(window = 15).sum())

In [132]:
football_data['HC_L38'] = football_data.groupby('HomeTeam')['HC'].transform(lambda x: x.rolling(window = 38).sum())

Away Team Corners for the Last 5, 15, and 38 Matches

In [133]:
football_data['AC_L5'] = football_data.groupby('AwayTeam')['AC'].transform(lambda x: x.rolling(window = 5).sum())

In [134]:
football_data['AC_L15'] = football_data.groupby('AwayTeam')['AC'].transform(lambda x: x.rolling(window = 15).sum())

In [135]:
football_data['AC_L38'] = football_data.groupby('AwayTeam')['AC'].transform(lambda x: x.rolling(window = 38).sum())

Card Statistics

Home Team YELLOW cards for the Last 5, 15, and 38 Matches

In [136]:
football_data['HY_L5'] = football_data.groupby('HomeTeam')['HY'].transform(lambda x: x.rolling(window = 5).sum())

In [137]:
football_data['HY_L15'] = football_data.groupby('HomeTeam')['HY'].transform(lambda x: x.rolling(window = 15).sum())

In [138]:
football_data['HY_L38'] = football_data.groupby('HomeTeam')['HY'].transform(lambda x: x.rolling(window = 38).sum())

Away Team YELLOW Cards for the Last 5, 15, and 38 Matches

In [139]:
football_data['AY_L5'] = football_data.groupby('AwayTeam')['AY'].transform(lambda x: x.rolling(window = 5).sum())

In [140]:
football_data['AY_L15'] = football_data.groupby('AwayTeam')['AY'].transform(lambda x: x.rolling(window = 15).sum())

In [141]:
football_data['AY_L38'] = football_data.groupby('AwayTeam')['AY'].transform(lambda x: x.rolling(window = 38).sum())

Home Team RED Cards for the Last 5, 15, and 38 Matches

In [142]:
football_data['HR_L5'] = football_data.groupby('HomeTeam')['HR'].transform(lambda x: x.rolling(window = 5).sum())

In [143]:
football_data['HR_L15'] = football_data.groupby('HomeTeam')['HR'].transform(lambda x: x.rolling(window = 15).sum())

In [144]:
football_data['HR_L38'] = football_data.groupby('HomeTeam')['HR'].transform(lambda x: x.rolling(window = 38).sum())

Away Team RED Cards for the Last 5, 15, and 38 Matches

In [145]:
football_data['AR_L5'] = football_data.groupby('AwayTeam')['AR'].transform(lambda x: x.rolling(window = 5).sum())

In [146]:
football_data['AR_L15'] = football_data.groupby('AwayTeam')['AR'].transform(lambda x: x.rolling(window = 15).sum())

In [147]:
football_data['AR_L38'] = football_data.groupby('AwayTeam')['AR'].transform(lambda x: x.rolling(window = 38).sum())

Saving the Above DataFrame to an Excel .csv File

In [148]:
football_data.to_csv('football_data_transformed.csv')